[Unit]
Description=Automatically connect to a network
After=network-online.target

[Service]
ExecStart=/usr/bin/nmcli c up Orange

[Install]
WantedBy=default.target

